PyGame
PyOpenGL
pyopencl
PyOpenGL_accelerate
PyQt5
PyQt5-sip
imutils
libusb
libusb1
numpy
opencv-python
pygame
pytorch
pyudev
pyusb
pyzbar
torch
torchvision
coveralls
flake8
mock
pylint
pytest
pytest-cov
requests_mock
tox
pytest-shutil
pyserial